<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EL SAMÁN | {{Ternera.nombre}} {{Ternera.numero}}</title>
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="icon" type="image/png" href="/imagenes/icono2.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="flex-container">

            <div class="logo flex-item">
                <a href="/index">
                    <img src="/imagenes/logo.png" alt="" srcset="">
                </a>
            </div>

            <div class="flex-item con-menu">

                <div class="dropdown">
                    <button class="dropbtn">NOSOTROS</button>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">SERVICIOS</button>
                </div>

                <div class="dropdown">
                    <button class="dropbtn" style="background:#F7931E !important; color:#fff">GENÉTICA</button>
                    <div class="dropdown-content">
                        <a href="/genetica/terneras">Embriones</a>
                        <a href="/genetica/terneras" style="background:#F7931E !important; color:#fff">Terneras</a>
                        <a href="/genetica/terneras">Novillas</a>
                    </div>
                </div>


                <div class="dropdown">
                    <button class="dropbtn">CONTACTO</button>
                </div>

               <div class="dropdown">
                    <a href="/checkout">
                        <button class="dropbtn">
                            <i class="fas fa-shopping-cart"></i>
                                                    <span class="carrito">0</span>

                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div id="contenedor">
        <section class="atras">
            <div>
                <a href="/genetica/terneras"><i class="fas fa-chevron-circle-left"></i>Volver a Terneras</a>
            </div>
        </section>
        <section class="flex-container produc">
            <article class="imagenDet">
                <div style="background-image:url('{{Ternera.imagen}}');">
                </div>
            </article>
            <article class="infoDet">
                <div>
                    <h1>{{Ternera.nombre}}{{Ternera.numero}} - Ternero</h1>
                    <p>{{Ternera.descripcion}} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, alias expedita. Odit animi libero veniam numquam architecto voluptas et aspernatur, reiciendis maxime dolor accusantium unde nam similique accusamus distinctio. Non?</p>
                    <p><strong>Raza:</strong> Jersey</p>
                    <p><strong>Categoría:</strong> {{Ternera.categoria}}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{Ternera.nacimiento}}</p>
                    <p><strong>Sexo:</strong> {{sexo}}</p>
                    <p><strong>Semen Disponible:</strong> {{semenDisp}}</p>
                    <a href="">VER GENEALOGÍA</a>
                    <p class="precio">${{Ternera.precio}}</p>
                </div>
                <div class="visita">
                    <a href="">
                        <div>
                        PLANEAR VISITA
                        </div>
                    </a>
                </div>
            </article>
        </section>
        
    </div>

    <footer>
        <section class="contacto">
            <h3>MANTENTE EN CONTACTO</h3>
            <p>Suscríbete para recibir nuestra última información</p>
        </section>

        <section>
            <form>
                <input type="text" id="correoo" name="correo" placeholder="Tu correo..">
                <input type="submit" value="ENVIAR">
            </form>
        </section>
        <section>
            <div class="sombra">
                <h3>SÍGUENOS EN NUESTRAS REDES SOCIALES</h3>

                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-google-plus-square"></i>
            </div>
        </section>
    </footer>
    <script src="/javascript/cliente.js"></script>
    

</body>

</html>